example/
Private/
private/
xxxstutiis/
test/
in_progress/
ZZZZZZ2/
zzzzzz2/
materialien/philosophie/uni_wien.html
materialien/philosophie/podcasts_uni_wien.html
werkstatt/*
!werkstatt/mitschriften/
rmdirs
file-tree-content.sv
file-tree-content.min
plan.html
show_diagrams.html
show_export.html
show_formats.html
show_greek.html
show_hotkeys.html
show_links.html
*.sv
*.swp
.xxx
*_pretty_pretty.css
*_pretty_pretty.html
*_pretty_pretty.js
*_pretty_pretty.json
*_pretty_priv*.css
*_pretty_pub*.css
*_pretty_priv*.html
*_pretty_pub*.html
*_pretty_priv*.js
*_pretty_pub*.js
*_pretty_priv*.json
*_pretty_pub*.json
materialien/breadcrumbs.js
materialien/catalog.js
